.uk-section {
  padding-top: 10px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.boardpage-button {
  margin: 10px !important;
  margin-left: 20px !important;
}

.boardpage-content {
  margin: 10px !important;
}

.column {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.uk-card {
  margin-top: 10px;
  margin-bottom: 10px;
}
